<% if @players %>
    <table class="racer_table">
      <p>Welcome To JScript Racer!</p>
      <p>Hit P  and Q to play</p>
    </table>
    <table class="racer_table">
      <tr id="player1">
        <td class="active"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <br>
      <br>
      <tr id="player2">
        <td class="active"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>

    <div class="winner"></div>
    <div class="winner-table">
      <form action="/games/winner" method="post">
        <input type='hidden' name="round_id" value="<%= @round_id %>"/>
        <input type='hidden' name="winner" value="<%= @winner %>"/>
        <input type='submit' value='Game Over!' class='start-button'/><br>
      </form>
    </div>
<% else %>
  <form action="/games" method="post">
    <input type="text" name="player1" placeholder="Player 1 here!" />
    <br>
    <br>
    <input type="text" name="player2" placeholder="Player 2 here!" />
    <br>
    <input type="submit" value="Start Game!" />
  </form>
<% end %>
